@font-face {
    font-family: 'gothambold';
    src: url('ufonts.com_gotham-bold-opentype-webfont.woff2') format('woff2'),
         url('ufonts.com_gotham-bold-opentype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_lightregular';
    src: url('ufonts.com_gotham-light-webfont.woff2') format('woff2'),
         url('ufonts.com_gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamregular';
    src: url('ufonts.com_gotham-light-1-opentype-webfont.woff2') format('woff2'),
         url('ufonts.com_gotham-light-1-opentype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothammedium';
    src: url('ufonts.com_gotham-medium-opentype-webfont.woff2') format('woff2'),
         url('ufonts.com_gotham-medium-opentype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body {
    background-color: #5a5a5a !important;
}

header {
    font-size: xx-large;
}

.navbar {
    padding: 1.0rem 1rem;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-around;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,1) !important;
}

.navbar-expand-lg .navbar-collapse {
    margin-right:190;
}

.pdf {
    display:flex;
    flex-direction: row;
    margin:5%;
    font-size:24px;
}

a{
    color:#212529
}

a:hover{
    color:#212529
}


.fa, .fas:hover {
    color:#212529;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.fas.fa-file-pdf.fa-9x:hover {
	color: dodgerblue;
}

i:hover {
    color:dodgerblue !important;
}

.add {
   position: fixed;
   bottom:0;
   right:0;
   margin-right:5%;
   margin-bottom: 2%;
}

.add:hover {
    position: fixed;
    color:dodgerblue;
    bottom:0;
    right:0;
    margin-right:5%;
    margin-bottom: 2%;
}

.libelle {
    margin-top: 5%;
    text-align: center;
    font-size:16px;
    color:#343a40;
    font-family: 'gothammedium';
}

.logo {
    display:flex;
    flex-direction: column;
}

.textwhite {
    color:white;
    font-family: 'gothambold';
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:#e6e6e6 ;
    background-size: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 5%;
    padding-top:4.5%;
    margin-bottom: 7%;
    width: 95%;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 20px 20px rgba(0,0,0,.11);
    transition: all .4s ease;
    min-height:600px;
}

.container-fluid:hover {
    min-height:600px;
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}

.modal-body {
    display: flex;
    justify-content: space-around;
}

.modal-bodyAddPdg {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    padding-bottom : 0rem !important;
}

h5 {
    font-family: 'gothammedium';
    font-size:23px;
}

.fa-9x {
    font-size: 10em !important;
}

.btn-primary{
    font-size:18px !important;
}

.modal-body {
    padding-bottom: 1rem !important;
}


.form-row {
    justify-content: space-evenly;
}