body {
    background-color: #5a5a5a !important;
}

.col-12 {
    max-width: 55%;
    /* background-color:#e9ecef; */
    padding : 3%;
}

.bg-light {
    padding-left:2%;
    padding-right:2%;
}


.navbar-expand-lg .navbar-collapse {
    justify-content: space-around;
}


