@font-face {
    font-family: 'gothambold';
    src: url('ufonts.com_gotham-bold-opentype-webfont.woff2') format('woff2'),
         url('ufonts.com_gotham-bold-opentype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_lightregular';
    src: url('ufonts.com_gotham-light-webfont.woff2') format('woff2'),
         url('ufonts.com_gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothamregular';
    src: url('ufonts.com_gotham-light-1-opentype-webfont.woff2') format('woff2'),
         url('ufonts.com_gotham-light-1-opentype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gothammedium';
    src: url('ufonts.com_gotham-medium-opentype-webfont.woff2') format('woff2'),
         url('ufonts.com_gotham-medium-opentype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #5a5a5a !important;
}

header {
    font-size: xx-large;
}


.navbar {
    padding: 1.0rem 1rem;
}


.navbar-expand-lg .navbar-collapse {
    justify-content: space-around;
}

.textwhite {
    color:white;
    font-family: 'gothambold';
}

.text {
    text-align: center;
    margin-bottom: 6%;
    color:#343a40;
    font-size:45px;
    font-family: 'gotham_lightregular';

}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    display:flex;
    flex-direction: column;
    background-color:#e6e6e6 ;
    background-size: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 4%;
    padding-top:2%;
    margin-bottom: 2%; 
    width:95%;

    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 20px 20px rgba(0,0,0,.11);
    transition: all .4s ease;
}

.container-fluid:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}


.texteButton {
    font-family: 'gothammedium';
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,1) !important;
}

.navbar-expand-lg .navbar-collapse {
    margin-right:175;
}

.t {
    width: 100%;
    font-size: 100%;
    color:#dc3545;
    padding-left: 0.2%;
    margin-bottom: 0.4%;
}

.custom {
    display:flex;
    flex-direction: row;
}

.border {
    border: 2px solid #5a5a5a !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    box-shadow: 0 4px 2px -2px gray;
}

.margin-bottom {
    padding-bottom: -2rem;
}

.custom-control-label::before, .custom-file-label, .custom-select {
    font-size:20px;
}

.form-control-lg {
    font-size: 20px;
}

.space1 {
    padding-top:0.2%;
}

.space2 {
    margin-top:0%;
}

.mb-5, .my-5 {
    margin-bottom: 2.5rem !important;
}

.form-group-1 {
    margin-bottom: 0.4rem;
}